/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT */
:root {
    --white: #fff;
    --black: #000;
    --red: #DB4444;
    --hover-red: #E07575;
    --hover-blue: #A0BCE0;
    --green: #00FF66;
    --light-grey: #F5F5F5;
}

body {
    font-family: "Poppins", sans-serif;
    cursor: default;
}

/* top-header */

.black-bgc {
    background-color: var(--black);
}

.top-header {
    display: flex;
    justify-content: flex-end;
}

.top {
    background-color: var(--black);
    display: flex;
    justify-content: flex-end;
    gap: 231px;
    width: 859px;
    padding: 12px 0;
}

.sale,
.shop,
.eng {
    color: var(--white);
}

.sale {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    cursor: default;
}

.shop {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    cursor: pointer;
}

.eng {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.arrow {
    width: 24px;
    height: 24px;
}

.text {
    display: flex;
    gap: 8px;
}

.language {
    display: flex;
    gap: 5px;
    cursor: pointer;
}

/* header */

/* bottom-header */

.bottom-header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 16px 0;
}

.navigation h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    width: 118px;
}

.navigation ul li {
    font-weight: 400;
    font-size: 16px;
}

.navigation {
    display: flex;
    max-width: 675px;
    gap: 190px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

.navigation nav {
    width: 367px;
}

.search {
    width: 243px;
    height: 38px;
    background-color: var(--light-grey);
    border-radius: 4px;
}

.search-wrapper {
    background-color: var(--light-grey);
    display: flex;
    width: 211px;
    height: 24px;
    gap: 34px;
    padding: 7px 12px 7px 20px;
}

.search-input input {
    border: none;
    width: 153px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    background-color: var(--light-grey);
}

.search-icon {
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 16px;
    cursor: pointer;
}

.functions {
    display: flex;
    gap: 32px;
    width: 347px;
    height: 38px;
    gap: 24px;
}

.line {
    height: 1px;
    background-color: var(--black);
    opacity: 0.3;
    position: relative;
}

.height-line {
    position: absolute;
    content: '';
    width: 384px;
    height: 1px;
    rotate: calc(90deg);
    opacity: 0.3;
    background-color: var(--black);
    top: 334px;
    left: 430px;
}

/* section wishlist */
.wishlist {
    margin-top: 80px;
    margin-bottom: 80px;
}

.wishlist-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.wishlist-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}

.wishlist-text button {
    border: 1px solid black;
    border-radius: 4px;
    width: 223px;
    height: 56px;
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}

/* section today */

.today {
    margin-top: 158px;
}

.box {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--red);
}

.box-section p {
    width: 64px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--red);
}

.flash {
    width: 211px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 4%;
}

.days {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
}

.number {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;

}

.box-section {
    width: 100px;
    height: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.box-flash {
    width: 211px;
    height: 103px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.today-info {
    display: flex;
}

.date {
    width: 302px;
    height: 50px;

    display: flex;
    justify-content: space-between;
}

.date img {
    width: 4px;
    height: 16px;
}

.two-dots {
    margin: 26px 17px 8px 17px;
}

.today-info {
    display: flex;
    align-items: flex-end;
    gap: 87px;
}

.today-top {
    display: flex;
    align-items: flex-end;
    gap: 470px;
}

.arrows {
    display: flex;
    gap: 8px;
    cursor: pointer;
}


.product-img {
    background-color: var(--light-grey);
    padding: 35px 40px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.product-info {
    max-width: 270px;
}

.product-info h3 {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
}

.new {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    color: var(--red);
}

.old {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: var(--black);
    opacity: 0.5;
}

.price {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.stars {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.stars p {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--black);
    opacity: 0.5;
}

.scroll {
    overflow: hidden;
    display: flex;
    gap: 30px;
    flex-flow: auto;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.card {
    flex-shrink: 0;
    position: relative;
}


.add {
    cursor: pointer;
    font-weight: 500;
    line-height: 24px;
    color: var(--white);
    background-color: var(--black);
    padding: 8px 87px 9px 87px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: 209px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.card:hover .add {
    opacity: 1;
    visibility: visible;
}

.card span {
    position: absolute;
    left: 12px;
    top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    padding: 4px 12px;
    background-color: var(--red);
    border-radius: 4px;
    color: var(--white);
}

.heart-eye {
    position: absolute;
    right: 12px;
    top: 12px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 16px 48px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    border: none;
    color: var(--white);
    background-color: var(--red);
    border-radius: 4px;
    transition: 0.3s;
    margin: 42px 0 60px 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--hover-red);
}

.br-line {
    height: 1px;
    background-color: var(--black);
    opacity: 0.3;
}

/* section you */

.you-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.you-info {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 156px;
}

.you-info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
}

.you-btn {
    background-color: var(--white);
    width: 150px;
    height: 56px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    cursor: pointer;
}

.scroll {
    margin-bottom: 140px;
}

.new-btn {
    background-color: var(--green) !important;
}



/* footer */

footer {
    height: 440px;
    background-color: var(--black);
}

.footer {
    color: var(--white);
}

.exclusive-text h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
}

.exclusive-text p {
    margin: 24px 0 24px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.exclusive-text span {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.exclusive-text {
    margin-bottom: 16px;
}

.inside-email p {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    color: gray;
    width: 130px;
}

.inside-email {
    display: flex;
    gap: 32px;
    padding: 12px 15px 12px 16px;
    cursor: pointer;
}

.exclusive-email {
    border: 1px solid white;
    border-radius: 4px;
    width: 219px;
}

.footer-box {
    display: flex;
    gap: 87px;
    margin-bottom: 76px;
    padding-top: 80px;
}

.Support h3,
.account h3,
.quick h3,
.download h3 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.Support {
    width: 175px;
    height: 180px;
}

.Support ul,
.account ul,
.quick ul,
.Support ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.Support ul li,
.account ul li,
.quick ul li,
.Support ul li {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}

.Support h3 {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}

.google-apple {
    width: 110px;
    height: 84px;
    gap: 4px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.google,
.apple {
    width: 110px;
    height: 40px;
}

.google img,
.apple img {
    width: 100%;
    height: 100%;
}

.download {
    width: 198px;
    height: 210px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.socials ul {
    display: flex;
    width: 168px;
    height: 24px;
    gap: 24px;
    cursor: pointer;
}


.qr {
    width: 80px;
    height: 80px;
}

.qr img {
    width: 100%;
    height: 100%;
}

.download-box {
    display: flex;
    gap: 8px;
    align-items: center;
}

.download-section p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: grey;
}

.download-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.download-title-section {
    width: 198px;
    height: 162px;
}


.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.copy-img {
    width: 20px;
    height: 20px;
}

.copy-text {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    color: grey;
}